version: "3"
services:
    dbprod:
        container_name: dbprod
        image: 'mysql:latest'
        restart: 'always'
        environment:
          MYSQL_USER: webapplication
          MYSQL_PASSWORD: "cesi"
          MYSQL_DATABASE: videgrenierenligne
          MYSQL_ROOT_PASSWORD: "root"
        ports:
          - '9005:80'
        volumes:
          - mysql_dataprod:/var/lib/mysql
          - ./sql/import.sql:/docker-entrypoint-initdb.d/import.sql

        
    phpmyadmin_prod:
        image: phpmyadmin/phpmyadmin:latest
        restart: always
        ports:
          - "9002:80"
        depends_on:
          - dbprod
        environment:
          PMA_HOST: dbprod

    
    videgrenier_prod:
        image: 'videgrenier'
        ports:
          - '8089:80'
        build:
          context: .
          dockerfile: Dockerfile
        environment:
          ALLOW_OVERRIDE: 'true'
          # user: "root"
          # db: "mysql_production"
          # password: "root"
          MYSQL_HOST: dbprod
          MYSQL_USER: webapplication
          MYSQL_PASSWORD: "cesi"

        depends_on:
          - dbprod

        links: 
          - dbprod:mysql

        # volumes:
        #   - ./app:/var/www/html

    
volumes:
    mysql_dataprod:
      external: true