{% extends "base.html" %}

{% block title %}Politique relative aux cookies{% endblock %}

{% block body %}

<div class="page">

    <section class="cookie-policy">
        <h2 class="color-b1">Politique relative aux cookies</h2>
        <p>Cette politique relative aux cookies décrit comment "Vide Grenier en ligne" utilise les cookies et les
            technologies similaires sur son site Web. Les termes "nous", "notre" et "nos" font référence à "Vide Grenier
            en
            ligne".</p>
        <h3 class="color-b1">Que sont les cookies ?</h3>
        <p>Les cookies sont de petits fichiers texte qui sont stockés sur votre ordinateur ou votre appareil mobile
            lorsque
            vous visitez un site Web. Ils sont largement utilisés pour permettre aux sites Web de fonctionner, ou de
            fonctionner plus efficacement, ainsi que pour fournir des informations aux propriétaires du site.</p>
        <h3 class="color-b1">Comment utilisons-nous les cookies ?</h3>
        <p>Nous utilisons des cookies pour améliorer votre expérience de navigation sur notre site Web, notamment en
            vous
            permettant de vous connecter à votre compte et de poster des annonces. Nous utilisons également des cookies
            pour
            suivre les préférences des utilisateurs et pour collecter des informations sur les performances du site.</p>
        <h3 class="color-b1">Quels types de cookies utilisons-nous ?</h3>
        <p>Nous utilisons des cookies strictement nécessaires pour permettre aux utilisateurs de se connecter et de
            naviguer
            sur le site Web. Nous utilisons également des cookies de performance pour collecter des informations sur la
            façon dont les utilisateurs interagissent avec le site Web, afin de mieux comprendre comment améliorer
            l'expérience de l'utilisateur.</p>
        <p>Nous utilisons également des cookies de fonctionnalité pour permettre aux utilisateurs de personnaliser leur
            expérience de navigation sur le site Web. Par exemple, nous pouvons stocker des informations telles que
            votre
            langue préférée ou vos paramètres de compte pour vous faciliter l'utilisation du site Web.</p>
        <p>Enfin, nous utilisons des cookies publicitaires pour afficher des publicités pertinentes à nos utilisateurs
            en
            fonction de leurs intérêts. Ces cookies peuvent également être utilisés pour limiter le nombre de fois
            qu'une
            publicité est affichée à un utilisateur.</p>
        <h3 class="color-b1">Comment contrôler les cookies ?</h3>
        <p>Vous pouvez contrôler les cookies en modifiant les paramètres de votre navigateur Web pour refuser les
            cookies ou
            pour vous avertir avant d'accepter un cookie. Cependant, cela peut affecter certaines fonctionnalités de
            notre
            site Web et rendre l'expérience de l'utilisateur moins agréable.</p>
        <p>Pour en savoir plus sur les cookies et comment les gérer, vous pouvez consulter le site <a
                href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.</p>
        <h3 class="color-b1">Mise à jour de la politique relative aux cookies</h3>
        <p>Nous pouvons mettre à jour cette politique relative aux cookies de temps à autre pour refléter les
            changements
            dans nos pratiques en matière de cookies ou dans les réglementations applicables. Nous vous recommandons de
            consulter régulièrement cette page pour vous tenir informé des dernières informations.</p>
        <p>Nous espérons que cette politique relative aux cookies a été utile pour vous. Si vous avez des questions ou
            des
            commentaires, n'hésitez pas à nous contacter à l'adresse suivante : <a
                href="mailto:videgrenier-enligne@outlook.fr">videgrenier-enligne@outlook.fr</a></p>
</div>
{% endblock %}